<?xml version="1.0"?>
<ruleset name="Style Guide Reviewer">
    <description>WordPress Coding Standards for Style Guide Reviewer.</description>

    <file>style-guide-reviewer.php</file>
    <file>uninstall.php</file>
    <file>includes/</file>

    <exclude-pattern>*/build/*</exclude-pattern>
    <exclude-pattern>*/node_modules/*</exclude-pattern>
    <exclude-pattern>*/vendor/*</exclude-pattern>
    <exclude-pattern>*/tests/*</exclude-pattern>

    <arg name="colors"/>
    <arg name="extensions" value="php"/>
    <arg value="ps"/>
    <arg name="parallel" value="8"/>

    <rule ref="WordPress-Extra">
        <!-- Namespaced class files do not use the class-{name}.php convention. -->
        <exclude name="WordPress.Files.FileName"/>
    </rule>
    <rule ref="WordPress-Docs"/>

    <config name="minimum_wp_version" value="7.0"/>
    <config name="testVersion" value="7.4-"/>
    <rule ref="PHPCompatibilityWP"/>

    <rule ref="WordPress.WP.I18n">
        <properties>
            <property name="text_domain" type="array" value="style-guide-reviewer"/>
        </properties>
    </rule>

    <rule ref="WordPress.NamingConventions.PrefixAllGlobals">
        <properties>
            <property name="prefixes" type="array" value="sgr,StyleGuideReviewer,SGR"/>
        </properties>
    </rule>
</ruleset>
